---
title: "About Boki"
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-11.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "This is a placeholder graph for Der Jump's picture"
intro: 
  - excerpt: "I'm a Chinese export. I'm a PhD candidate studying motor learning and performance. I consider myself as a behavioral scientist. I want to apply my research to improving athletic performance, especially in women's basketball."
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Placeholder 1"
    excerpt: "For **Brain**"
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder 2"
    excerpt: "For **Body**"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Placeholder 3"
    excerpt: "For **Blog**"
feature_row4:
  - image_path: /assets/images/shooting.PNG
    image_caption: "Courtesy by Der Jump"
    alt: "Bball girl"
    title: "I shoot the ball"
    excerpt: 'Click to know more'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row4" type="center" %}


<p>Does the four pics load alright?</p>
