---
title: "About"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-11.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Peiyuan (Boki) Wang"
intro: 
  - excerpt: "I study motor learning and performance as a PhD candidate in Biomedical Engineering at at Arizona State University. I work with the amazing [Dr. Schaefer](https://scholar.google.com/citations?user=gD8I6EYAAAAJ&hl=en) at the [Motor Rehabilitation and Learning Laboratory](http://www.mrllab.org/)."
cartoon:
  - image_path: /assets/images/shooting.PNG
    image_caption: "Courtesy by Der Jump"
    alt: "Bball girl"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="cartoon" type="center" %}

<p>"Behavioral neuroscience" seems to capture what I do the best. The inaccurate part is - I have always felt the phrase "behavioral neuroscience" emphasizes neuroscience more than behavior, whereas I want to study <b>behavior</b> and am just studying it from a neuroscientific perspective. Ultimately, my goal is to apply scientific knowledge about the brain and the body to impact behavior, i.e. improving athletic performance, especially in women's basketball.</p>


